## Intermediate Data Science

#### University of Redlands - DATA 201
#### Prof: Joanna Bieri [joanna_bieri@redlands.edu](mailto:joanna_bieri@redlands.edu)
#### [Class Website: data201.joannabieri.com](https://joannabieri.com/data201_intermediate.html)

In [47]:
# Some basic package imports
import os
import numpy as np
import pandas as pd
import pickle

import matplotlib.pyplot as plt
import plotly.express as px
from plotly.subplots import make_subplots
import plotly.io as pio
pio.renderers.defaule = 'colab'

### You Try - 4 Warm-Up Problems From Lecture

## You Try

Run the cell below to get your data. Then update the column and index names, using the renaming methods above, so that they are consistent and easy to use. Your choice for how you want the final labels to be!

In [49]:
data = pd.DataFrame(np.arange(12).reshape((3, 4)),
                    index=["red green", "Blue_green", "green  "],
                    columns=["ONE", "two", "3", "Four"])
data

            ONE  two   3  Four
red green     0    1   2     3
Blue_green    4    5   6     7
green         8    9  10    11

In [51]:
# Your code here
data.rename(columns = {'ONE':'one', '3': 'three'},inplace = True)
data.rename(index = {'red green':'red_green', 'Blue_green':'blue_green'},inplace = True)
data

            one  two  three  Four
red_green     0    1      2     3
blue_green    4    5      6     7
green         8    9     10    11

-------------------------------------
## You Try

Run the cell below to create a random list of numbers to represent ages in your population. Then make up your own age range categories (at least 5) and use `.cut()` to break the data into discrete categories. Create a data frame that contains the age, the age range, and the age category code.

In [53]:
ages = [np.random.randint(15,100) for i in range(40)]

In [55]:
# Your code here
ages.sort()
ages
bins = [15,25,35,50,75,100]
age_categories = pd.cut(ages, bins)
age_categories

[NaN, (15.0, 25.0], (15.0, 25.0], (15.0, 25.0], (15.0, 25.0], ..., (75, 100], (75, 100], (75, 100], (75, 100], (75, 100]]
Length: 40
Categories (5, interval[int64, right]): [(15, 25] < (25, 35] < (35, 50] < (50, 75] < (75, 100]]

In [57]:
age_categories.codes
print(len(age_categories.codes))

40

In [59]:
data = pd.DataFrame()
data['age'] = ages
data['range'] = age_categories
data

    age          range
0    15            NaN
1    16   (15.0, 25.0]
2    20   (15.0, 25.0]
3    23   (15.0, 25.0]
4    25   (15.0, 25.0]
5    27   (25.0, 35.0]
6    28   (25.0, 35.0]
7    32   (25.0, 35.0]
8    36   (35.0, 50.0]
9    42   (35.0, 50.0]
10   43   (35.0, 50.0]
11   45   (35.0, 50.0]
12   50   (35.0, 50.0]
13   51   (50.0, 75.0]
14   54   (50.0, 75.0]
15   56   (50.0, 75.0]
16   62   (50.0, 75.0]
17   68   (50.0, 75.0]
18   69   (50.0, 75.0]
19   69   (50.0, 75.0]
20   70   (50.0, 75.0]
21   71   (50.0, 75.0]
22   72   (50.0, 75.0]
23   73   (50.0, 75.0]
24   76  (75.0, 100.0]
25   76  (75.0, 100.0]
26   77  (75.0, 100.0]
27   77  (75.0, 100.0]
28   78  (75.0, 100.0]
29   78  (75.0, 100.0]
30   79  (75.0, 100.0]
31   80  (75.0, 100.0]
32   83  (75.0, 100.0]
33   85  (75.0, 100.0]
34   90  (75.0, 100.0]
35   92  (75.0, 100.0]
36   93  (75.0, 100.0]
37   96  (75.0, 100.0]
38   96  (75.0, 100.0]
39   99  (75.0, 100.0]

In [61]:
age_categories.codes

array([-1,  0,  0,  0,  0,  1,  1,  1,  2,  2,  2,  2,  2,  3,  3,  3,  3,
        3,  3,  3,  3,  3,  3,  3,  4,  4,  4,  4,  4,  4,  4,  4,  4,  4,
        4,  4,  4,  4,  4,  4], dtype=int8)

In [63]:
data['code'] = age_categories.codes
data

    age          range  code
0    15            NaN    -1
1    16   (15.0, 25.0]     0
2    20   (15.0, 25.0]     0
3    23   (15.0, 25.0]     0
4    25   (15.0, 25.0]     0
5    27   (25.0, 35.0]     1
6    28   (25.0, 35.0]     1
7    32   (25.0, 35.0]     1
8    36   (35.0, 50.0]     2
9    42   (35.0, 50.0]     2
10   43   (35.0, 50.0]     2
11   45   (35.0, 50.0]     2
12   50   (35.0, 50.0]     2
13   51   (50.0, 75.0]     3
14   54   (50.0, 75.0]     3
15   56   (50.0, 75.0]     3
16   62   (50.0, 75.0]     3
17   68   (50.0, 75.0]     3
18   69   (50.0, 75.0]     3
19   69   (50.0, 75.0]     3
20   70   (50.0, 75.0]     3
21   71   (50.0, 75.0]     3
22   72   (50.0, 75.0]     3
23   73   (50.0, 75.0]     3
24   76  (75.0, 100.0]     4
25   76  (75.0, 100.0]     4
26   77  (75.0, 100.0]     4
27   77  (75.0, 100.0]     4
28   78  (75.0, 100.0]     4
29   78  (75.0, 100.0]     4
30   79  (75.0, 100.0]     4
31   80  (75.0, 100.0]     4
32   83  (75.0, 100.0]     4
33   85  (75.0, 100.0]     4
34   90  (75.0, 100.0]     4
35   92  (75.0, 100.0]     4
36   93  (75.0, 100.0]     4
37   96  (75.0, 100.0]     4
38   96  (75.0, 100.0]     4
39   99  (75.0, 100.0]     4

-------------------------------------------------------
## You Try

Explain in great detail what each of the lines in the cell did to both create and then update the data frame.

In [65]:
data = pd.DataFrame(np.random.standard_normal((1000, 4)))
display(data)

data[data.abs() > 1] = np.sign(data) *2
display(data)

            0         1         2         3
0   -0.434869  0.670492 -0.048640 -0.765513
1    0.125255 -0.415325 -1.225113 -0.570856
2    0.164157 -1.812122 -0.558663 -0.932043
3   -0.641682  0.101405 -0.730285  0.848518
4   -1.127943  0.501541 -0.338669  0.401509
..        ...       ...       ...       ...
995 -0.427079 -0.819725 -0.004622 -2.176306
996  0.244532 -0.580013  0.167931  0.515943
997  0.107625 -0.914836  0.103143 -3.071222
998  0.305231  0.362713 -1.784016 -1.134831
999 -1.126748 -0.731294  0.701071 -0.794005

[1000 rows x 4 columns]

            0         1         2         3
0   -0.434869  0.670492 -0.048640 -0.765513
1    0.125255 -0.415325 -2.000000 -0.570856
2    0.164157 -2.000000 -0.558663 -0.932043
3   -0.641682  0.101405 -0.730285  0.848518
4   -2.000000  0.501541 -0.338669  0.401509
..        ...       ...       ...       ...
995 -0.427079 -0.819725 -0.004622 -2.000000
996  0.244532 -0.580013  0.167931  0.515943
997  0.107625 -0.914836  0.103143 -2.000000
998  0.305231  0.362713 -2.000000 -2.000000
999 -2.000000 -0.731294  0.701071 -0.794005

[1000 rows x 4 columns]

## Your WORDS here
pd.DataFrame(np.random.standard_normal((1000, 4)))
#The command np.random.standard_normal draws the samples from a standard normal distribution. In this case the 1000 is the mean and the standard deviation is 4

data[data.abs() > 1] = np.sign(data) *2
#This command takes the data frame with absolute numeric value of each elements that are greater than 1. The sign part of the data returns an element wise indication of the sign of a number. This is either for example, -1 or 1.

-------------------------------
# You Try

Break the following string up into a list of strings using string manipulation functions. See if you can create a list like this:

    ['Joanna','Bieri','Redlands','Keep up the good work!']

try to get all the capitals and spacing correct!

NOTE - lots of different processes will result in this final list, there is not one right way to do this!

In [17]:
import re

In [18]:
import pandas as pd

In [19]:
a_string = 'joanna_bieri@redlands.edu says:   Keep up the good work!'

There are so many different string methods! Here are some of my favorites:

- `.replace(old text, new text)` replace text
- `.rstrip()` strip from the right end of the string
- `.lstrip()` strip from the left end of the string
- `.lower()` make the string all lower case
- `.upper()` make the string all upper case
- `.title()` capitalize each first letter

For more advanced string manipulation you can use regex.

    import re

look in the book or online for more information.

Many of the string methods are also implemented directly in pandas and can be applied directly to Series data.

## Categorical Data

Pandas has a build in data type called Categorical. This helps encode certain columns or parts of your data as being categorical, rather than just an assortment of strings. Categorical has the advantage of being better for memory and for sorting and organizing data. Here is an example:

In [21]:
# Your code here
split_up_part = re.split('[_@.:]',a_string.title())
split_up_part
for item in split_up_part: 
    cleaned_up = [item.replace('Says','').strip() for item in split_up_part]
cleaned_up

['Joanna', 'Bieri', 'Redlands', 'Edu', 'Keep Up The Good Work!']

In [22]:
a_string.split('@')[0].split('_')[0].title()
my_list = []
for st in a_string.split('@'): 
    if 'joanna' in st: 
        my_list.append(st.split('_')[0].title())
        my_list.append(st.split('_')[1].title())
    else:
        my_list.append(st.split('.')[0].title())
        my_list.append(st.split('says:')[1].strip())


my_list

['Joanna', 'Bieri', 'Redlands', 'Keep up the good work!']

---------------
## Data Cleaning and Preparation - Day4 HW

## Homework 4

Run the cell to down load the Kaggle Dataset below

1. Load the data into Pandas
2. Quickly describe what you see from a data science perspective (vars, observations, concerns with formatting, etc)
3. How many NaNs are in the data? What do the [] mean in the data? Should you remove all rows with NaN? Are there any duplicate rows?
4. Using the dictionary given here, add a genre column using the .map() command.

```{python}
artist_to_genre = {
    "Taylor Swift": "Pop / Country",
    "Beyoncé": "R&B / Pop",
    "Madonna": "Pop",
    "Pink": "Pop Rock",
    "Celine Dion": "Adult Contemporary",
    "Lady Gaga": "Pop / Dance",
    "Katy Perry": "Pop",
    "Cher": "Pop / Disco",
    "Adele": "Soul / Pop"
}
```
5. Bin the number of shows into 'high','medium','low'. Your choice on with the cutoffs should be. Add columns with the cutoffs and the codes.
6. Create dummy variables for the genres. Separate the text by the / symbol
7. Remove the $ from the money columns and turn these into integers.
8. Remove all other special characters from the data.
9. Separate the Year(s) column into two "Tour Start" and "Tour End"
10. Save the final data as a pickle.

    
------------------------------------

Your final notebooks should:

- [ ] Be a completely new notebook with just the Day4 stuff in it: Read in the data, clean it up and save it. 
- [ ] Be reproducible with junk code removed.
- [ ] Have lots of language describing what you are doing, especially for questions you are asking or things that you find interesting about the data. Use complete sentences, nice headings, and good markdown formatting: https://www.markdownguide.org/cheat-sheet/
- [ ] It should run without errors from start to finish.

In [67]:
import kagglehub

# Data was created by scraping: https://en.wikipedia.org/wiki/List_of_highest-grossing_concert_tours_by_women
path = kagglehub.dataset_download("amruthayenikonda/dirty-dataset-to-practice-data-cleaning")

print("Path to dataset files:", path)

Warning: Looks like you're using an outdated `kagglehub` version (installed: 0.3.8), please consider upgrading to the latest version (0.3.13).
Path to dataset files: /Users/sethchairez/.cache/kagglehub/datasets/amruthayenikonda/dirty-dataset-to-practice-data-cleaning/versions/1

In [69]:
# If this gives an error you might have to copy and paste the pat from above
# then update the \ with / to make it work
os.listdir(path)

['my_file (1).csv']

In [71]:
file = '/Users/sethchairez/.cache/kagglehub/datasets/amruthayenikonda/dirty-dataset-to-practice-data-cleaning/versions/1/my_file (1).csv'
df = pd.read_csv(file)
df

,Rank,Peak,All Time Peak,Actual gross,Adjusted gross (in 2022 dollars),Artist,Tour title,Year(s),Shows,Average gross,Ref.
0,1,1,2,"$780,000,000","$780,000,000",Taylor Swift,The Eras Tour †,2023–2024,56,"$13,928,571",[1]
1,2,1,7[2],"$579,800,000","$579,800,000",Beyoncé,Renaissance World Tour,2023,56,"$10,353,571",[3]
2,3,1[4],2[5],"$411,000,000","$560,622,615",Madonna,Sticky & Sweet Tour ‡[4][a],2008–2009,85,"$4,835,294",[6]
3,4,2[7],10[7],"$397,300,000","$454,751,555",Pink,Beautiful Trauma World Tour,2018–2019,156,"$2,546,795",[7]
4,5,2[4],NaN,"$345,675,146","$402,844,849",Taylor Swift,Reputation Stadium Tour,2018,53,"$6,522,173",[8]
5,6,2[4],10[9],"$305,158,363","$388,978,496",Madonna,The MDNA Tour,2012,88,"$3,467,709",[9]
6,7,2[10],NaN,"$280,000,000","$381,932,682",Celine Dion,Taking Chances World Tour,2008–2009,131,"$2,137,405",[11]
7,7,NaN,NaN,"$257,600,000","$257,600,000",Pink,Summer Carnival †,2023–2024,41,"$6,282,927",[12]
8,9,NaN,NaN,"$256,084,556","$312,258,401",Beyoncé,The Formation World Tour,2016,49,"$5,226,215",[13]
9,10,NaN,NaN,"$250,400,000","$309,141,878",Taylor Swift,The 1989 World Tour,2015,85,"$2,945,882",[14]
10,11,NaN,NaN,"$229,100,000[b]","$283,202,896",Beyoncé,The Mrs. Carter Show World Tour,2013–2014,132,"$1,735,606",[15][16]
11,12,NaN,14[17],"$227,400,000","$295,301,479",Lady Gaga,The Monster Ball Tour *,2009–2011,203,"$1,118,227",[18]
12,13,NaN,NaN,"$204,000,000","$251,856,802",Katy Perry,Prismatic World Tour,2014–2015,151,"$1,350,993",[19]
13,14,1[20],NaN,"$200,000,000","$299,676,265",Cher,Living Proof: The Farewell Tour ‡[21][a],2002–2005,325,"$615,385",[20]
14,15,2[c],NaN,"$194,000,000","$281,617,035",Madonna,Confessions Tour,2006,60,"$3,233,333",[5]
15,16,NaN,NaN,"$184,000,000","$227,452,347",Pink,The Truth About Love Tour,2013–2014,142,"$1,295,775",[22]
16,17,NaN,NaN,"$170,000,000","$213,568,571",Lady Gaga,Born This Way Ball,2012–2013,98,"$1,734,694",[d]
17,18,NaN,NaN,"$169,800,000","$207,046,755",Madonna,Rebel Heart Tour,2015–2016,82,"$2,070,732",[4]
18,19,NaN,NaN,"$167,700,000[e]","$204,486,106",Adele,Adele Live 2016,2016–2017,121,"$1,385,950",[25]
19,20,NaN,NaN,"$150,000,000","$185,423,109",Taylor Swift,The Red Tour,2013–2014,86,"$1,744,186",[26]

# 2. 
In this data set there are 20 observations, and 11 variables. Only rank and shows appear to be integers. This is strange because in the data set we can see that peak and All time peak appear as integers to us but are actually strings when we observe them. We can also see a similar case when we observe year and it is classifed as a string rather than an integer.

In [73]:
df.keys()

Index(['Rank', 'Peak', 'All Time Peak', 'Actual gross',
       'Adjusted gross (in 2022 dollars)', 'Artist', 'Tour title', 'Year(s)',
       'Shows', 'Average gross', 'Ref.'],
      dtype='object')

In [75]:
df.shape

(20, 11)

In [77]:
df.dtypes

Rank                                 int64
Peak                                object
All Time Peak                       object
Actual gross                        object
Adjusted gross (in 2022 dollars)    object
Artist                              object
Tour title                          object
Year(s)                             object
Shows                                int64
Average gross                       object
Ref.                                object
dtype: object

# 3. How many NaNs are in the data? What do the [] mean in the data? Should you remove all rows with NaN? Are there any duplicate rows?
The [] within the data set represent's the reference section that is shown on wikipedia. For example the peak section for Madonna is 1[4] meaning that the 4 represent the number of the source that is found within the reference section. This is different in python as it is most likely read in as a list. I think it would be better to subsitute the NaN values with zero's as all of them are located within the Peak and All Time Peak sections. These 0's could just represent that there was no ranking. There are no duplicate rows within the data set.

In [79]:
df.isna().sum()

Rank                                 0
Peak                                11
All Time Peak                       14
Actual gross                         0
Adjusted gross (in 2022 dollars)     0
Artist                               0
Tour title                           0
Year(s)                              0
Shows                                0
Average gross                        0
Ref.                                 0
dtype: int64

In [81]:
df.duplicated()

0     False
1     False
2     False
3     False
4     False
5     False
6     False
7     False
8     False
9     False
10    False
11    False
12    False
13    False
14    False
15    False
16    False
17    False
18    False
19    False
dtype: bool

# 4  Using the dictionary given here, add a genre column using the .map() command.
```{python}
artist_to_genre = {
    "Taylor Swift": "Pop / Country",
    "Beyoncé": "R&B / Pop",
    "Madonna": "Pop",
    "Pink": "Pop Rock",
    "Celine Dion": "Adult Contemporary",
    "Lady Gaga": "Pop / Dance",
    "Katy Perry": "Pop",
    "Cher": "Pop / Disco",
    "Adele": "Soul / Pop"
}

In [83]:
artist_to_genre = {
    "Taylor Swift": "Pop / Country",
    "Beyoncé": "R&B / Pop",
    "Madonna": "Pop",
    "Pink": "Pop Rock",
    "Celine Dion": "Adult Contemporary",
    "Lady Gaga": "Pop / Dance",
    "Katy Perry": "Pop",
    "Cher": "Pop / Disco",
    "Adele": "Soul / Pop"
}

In [85]:
df['genre'] = df['Artist'].map(artist_to_genre)
df

,Rank,Peak,All Time Peak,Actual gross,Adjusted gross (in 2022 dollars),Artist,Tour title,Year(s),Shows,Average gross,Ref.,genre
0,1,1,2,"$780,000,000","$780,000,000",Taylor Swift,The Eras Tour †,2023–2024,56,"$13,928,571",[1],Pop / Country
1,2,1,7[2],"$579,800,000","$579,800,000",Beyoncé,Renaissance World Tour,2023,56,"$10,353,571",[3],R&B / Pop
2,3,1[4],2[5],"$411,000,000","$560,622,615",Madonna,Sticky & Sweet Tour ‡[4][a],2008–2009,85,"$4,835,294",[6],Pop
3,4,2[7],10[7],"$397,300,000","$454,751,555",Pink,Beautiful Trauma World Tour,2018–2019,156,"$2,546,795",[7],Pop Rock
4,5,2[4],NaN,"$345,675,146","$402,844,849",Taylor Swift,Reputation Stadium Tour,2018,53,"$6,522,173",[8],Pop / Country
5,6,2[4],10[9],"$305,158,363","$388,978,496",Madonna,The MDNA Tour,2012,88,"$3,467,709",[9],Pop
6,7,2[10],NaN,"$280,000,000","$381,932,682",Celine Dion,Taking Chances World Tour,2008–2009,131,"$2,137,405",[11],Adult Contemporary
7,7,NaN,NaN,"$257,600,000","$257,600,000",Pink,Summer Carnival †,2023–2024,41,"$6,282,927",[12],Pop Rock
8,9,NaN,NaN,"$256,084,556","$312,258,401",Beyoncé,The Formation World Tour,2016,49,"$5,226,215",[13],R&B / Pop
9,10,NaN,NaN,"$250,400,000","$309,141,878",Taylor Swift,The 1989 World Tour,2015,85,"$2,945,882",[14],Pop / Country
10,11,NaN,NaN,"$229,100,000[b]","$283,202,896",Beyoncé,The Mrs. Carter Show World Tour,2013–2014,132,"$1,735,606",[15][16],R&B / Pop
11,12,NaN,14[17],"$227,400,000","$295,301,479",Lady Gaga,The Monster Ball Tour *,2009–2011,203,"$1,118,227",[18],Pop / Dance
12,13,NaN,NaN,"$204,000,000","$251,856,802",Katy Perry,Prismatic World Tour,2014–2015,151,"$1,350,993",[19],Pop
13,14,1[20],NaN,"$200,000,000","$299,676,265",Cher,Living Proof: The Farewell Tour ‡[21][a],2002–2005,325,"$615,385",[20],Pop / Disco
14,15,2[c],NaN,"$194,000,000","$281,617,035",Madonna,Confessions Tour,2006,60,"$3,233,333",[5],Pop
15,16,NaN,NaN,"$184,000,000","$227,452,347",Pink,The Truth About Love Tour,2013–2014,142,"$1,295,775",[22],Pop Rock
16,17,NaN,NaN,"$170,000,000","$213,568,571",Lady Gaga,Born This Way Ball,2012–2013,98,"$1,734,694",[d],Pop / Dance
17,18,NaN,NaN,"$169,800,000","$207,046,755",Madonna,Rebel Heart Tour,2015–2016,82,"$2,070,732",[4],Pop
18,19,NaN,NaN,"$167,700,000[e]","$204,486,106",Adele,Adele Live 2016,2016–2017,121,"$1,385,950",[25],Soul / Pop
19,20,NaN,NaN,"$150,000,000","$185,423,109",Taylor Swift,The Red Tour,2013–2014,86,"$1,744,186",[26],Pop / Country

# 5. Bin the number of shows into 'high','medium','low'. Your choice on with the cutoffs should be. Add columns with the cutoffs and the codes.

In [87]:
df['Shows'].sort_values(ascending = True)

7      41
8      49
4      53
0      56
1      56
14     60
17     82
2      85
9      85
19     86
5      88
16     98
18    121
6     131
10    132
15    142
12    151
3     156
11    203
13    325
Name: Shows, dtype: int64

In [89]:
bins = [40,60,100,330]
show_categories = pd.cut(df['Shows'],bins)
show_categories

0       (40, 60]
1       (40, 60]
2      (60, 100]
3     (100, 330]
4       (40, 60]
5      (60, 100]
6     (100, 330]
7       (40, 60]
8       (40, 60]
9      (60, 100]
10    (100, 330]
11    (100, 330]
12    (100, 330]
13    (100, 330]
14      (40, 60]
15    (100, 330]
16     (60, 100]
17     (60, 100]
18    (100, 330]
19     (60, 100]
Name: Shows, dtype: category
Categories (3, interval[int64, right]): [(40, 60] < (60, 100] < (100, 330]]

In [91]:
show_categories.cat.codes

0     0
1     0
2     1
3     2
4     0
5     1
6     2
7     0
8     0
9     1
10    2
11    2
12    2
13    2
14    0
15    2
16    1
17    1
18    2
19    1
dtype: int8

In [93]:
df['new_codes'] = show_categories.cat.codes
df

,Rank,Peak,All Time Peak,Actual gross,Adjusted gross (in 2022 dollars),Artist,Tour title,Year(s),Shows,Average gross,Ref.,genre,new_codes
0,1,1,2,"$780,000,000","$780,000,000",Taylor Swift,The Eras Tour †,2023–2024,56,"$13,928,571",[1],Pop / Country,0
1,2,1,7[2],"$579,800,000","$579,800,000",Beyoncé,Renaissance World Tour,2023,56,"$10,353,571",[3],R&B / Pop,0
2,3,1[4],2[5],"$411,000,000","$560,622,615",Madonna,Sticky & Sweet Tour ‡[4][a],2008–2009,85,"$4,835,294",[6],Pop,1
3,4,2[7],10[7],"$397,300,000","$454,751,555",Pink,Beautiful Trauma World Tour,2018–2019,156,"$2,546,795",[7],Pop Rock,2
4,5,2[4],NaN,"$345,675,146","$402,844,849",Taylor Swift,Reputation Stadium Tour,2018,53,"$6,522,173",[8],Pop / Country,0
5,6,2[4],10[9],"$305,158,363","$388,978,496",Madonna,The MDNA Tour,2012,88,"$3,467,709",[9],Pop,1
6,7,2[10],NaN,"$280,000,000","$381,932,682",Celine Dion,Taking Chances World Tour,2008–2009,131,"$2,137,405",[11],Adult Contemporary,2
7,7,NaN,NaN,"$257,600,000","$257,600,000",Pink,Summer Carnival †,2023–2024,41,"$6,282,927",[12],Pop Rock,0
8,9,NaN,NaN,"$256,084,556","$312,258,401",Beyoncé,The Formation World Tour,2016,49,"$5,226,215",[13],R&B / Pop,0
9,10,NaN,NaN,"$250,400,000","$309,141,878",Taylor Swift,The 1989 World Tour,2015,85,"$2,945,882",[14],Pop / Country,1
10,11,NaN,NaN,"$229,100,000[b]","$283,202,896",Beyoncé,The Mrs. Carter Show World Tour,2013–2014,132,"$1,735,606",[15][16],R&B / Pop,2
11,12,NaN,14[17],"$227,400,000","$295,301,479",Lady Gaga,The Monster Ball Tour *,2009–2011,203,"$1,118,227",[18],Pop / Dance,2
12,13,NaN,NaN,"$204,000,000","$251,856,802",Katy Perry,Prismatic World Tour,2014–2015,151,"$1,350,993",[19],Pop,2
13,14,1[20],NaN,"$200,000,000","$299,676,265",Cher,Living Proof: The Farewell Tour ‡[21][a],2002–2005,325,"$615,385",[20],Pop / Disco,2
14,15,2[c],NaN,"$194,000,000","$281,617,035",Madonna,Confessions Tour,2006,60,"$3,233,333",[5],Pop,0
15,16,NaN,NaN,"$184,000,000","$227,452,347",Pink,The Truth About Love Tour,2013–2014,142,"$1,295,775",[22],Pop Rock,2
16,17,NaN,NaN,"$170,000,000","$213,568,571",Lady Gaga,Born This Way Ball,2012–2013,98,"$1,734,694",[d],Pop / Dance,1
17,18,NaN,NaN,"$169,800,000","$207,046,755",Madonna,Rebel Heart Tour,2015–2016,82,"$2,070,732",[4],Pop,1
18,19,NaN,NaN,"$167,700,000[e]","$204,486,106",Adele,Adele Live 2016,2016–2017,121,"$1,385,950",[25],Soul / Pop,2
19,20,NaN,NaN,"$150,000,000","$185,423,109",Taylor Swift,The Red Tour,2013–2014,86,"$1,744,186",[26],Pop / Country,1

0 = Low
2 = Medium 
4 = High

# 6. Create dummy variables for the genres. Separate the text by the / symbol
Come back and ask for help

In [95]:
dummies = df['genre'].str.get_dummies(' / ')
dummies

    Adult Contemporary  Country  Dance  Disco  Pop  Pop Rock  R&B  Soul
0                    0        1      0      0    1         0    0     0
1                    0        0      0      0    1         0    1     0
2                    0        0      0      0    1         0    0     0
3                    0        0      0      0    0         1    0     0
4                    0        1      0      0    1         0    0     0
5                    0        0      0      0    1         0    0     0
6                    1        0      0      0    0         0    0     0
7                    0        0      0      0    0         1    0     0
8                    0        0      0      0    1         0    1     0
9                    0        1      0      0    1         0    0     0
10                   0        0      0      0    1         0    1     0
11                   0        0      1      0    1         0    0     0
12                   0        0      0      0    1         0    0     0
13                   0        0      0      1    1         0    0     0
14                   0        0      0      0    1         0    0     0
15                   0        0      0      0    0         1    0     0
16                   0        0      1      0    1         0    0     0
17                   0        0      0      0    1         0    0     0
18                   0        0      0      0    1         0    0     1
19                   0        1      0      0    1         0    0     0

# 7. Remove the $ from the money columns and turn these into integers.

In [97]:
df.keys()
df['Actualgross']

KeyError: 'Actualgross'

In [99]:
df.columns

Index(['Rank', 'Peak', 'All Time Peak', 'Actual gross',
       'Adjusted gross (in 2022 dollars)', 'Artist', 'Tour title', 'Year(s)',
       'Shows', 'Average gross', 'Ref.', 'genre', 'new_codes'],
      dtype='object')

In [101]:
df.columns = [c.replace('\xa0', '') for c in df.columns]
for col in df.columns:
    print(repr(col))

'Rank'
'Peak'
'All Time Peak'
'Actualgross'
'Adjustedgross (in 2022 dollars)'
'Artist'
'Tour title'
'Year(s)'
'Shows'
'Average gross'
'Ref.'
'genre'
'new_codes'

In [103]:
for col in df.columns:
    print(repr(col))

'Rank'
'Peak'
'All Time Peak'
'Actualgross'
'Adjustedgross (in 2022 dollars)'
'Artist'
'Tour title'
'Year(s)'
'Shows'
'Average gross'
'Ref.'
'genre'
'new_codes'

In [ ]:
#df['Actual\xa0gross'].replace('$','',inplace = True)
#df

In [105]:
df

,Rank,Peak,All Time Peak,Actualgross,Adjustedgross (in 2022 dollars),Artist,Tour title,Year(s),Shows,Average gross,Ref.,genre,new_codes
0,1,1,2,"$780,000,000","$780,000,000",Taylor Swift,The Eras Tour †,2023–2024,56,"$13,928,571",[1],Pop / Country,0
1,2,1,7[2],"$579,800,000","$579,800,000",Beyoncé,Renaissance World Tour,2023,56,"$10,353,571",[3],R&B / Pop,0
2,3,1[4],2[5],"$411,000,000","$560,622,615",Madonna,Sticky & Sweet Tour ‡[4][a],2008–2009,85,"$4,835,294",[6],Pop,1
3,4,2[7],10[7],"$397,300,000","$454,751,555",Pink,Beautiful Trauma World Tour,2018–2019,156,"$2,546,795",[7],Pop Rock,2
4,5,2[4],NaN,"$345,675,146","$402,844,849",Taylor Swift,Reputation Stadium Tour,2018,53,"$6,522,173",[8],Pop / Country,0
5,6,2[4],10[9],"$305,158,363","$388,978,496",Madonna,The MDNA Tour,2012,88,"$3,467,709",[9],Pop,1
6,7,2[10],NaN,"$280,000,000","$381,932,682",Celine Dion,Taking Chances World Tour,2008–2009,131,"$2,137,405",[11],Adult Contemporary,2
7,7,NaN,NaN,"$257,600,000","$257,600,000",Pink,Summer Carnival †,2023–2024,41,"$6,282,927",[12],Pop Rock,0
8,9,NaN,NaN,"$256,084,556","$312,258,401",Beyoncé,The Formation World Tour,2016,49,"$5,226,215",[13],R&B / Pop,0
9,10,NaN,NaN,"$250,400,000","$309,141,878",Taylor Swift,The 1989 World Tour,2015,85,"$2,945,882",[14],Pop / Country,1
10,11,NaN,NaN,"$229,100,000[b]","$283,202,896",Beyoncé,The Mrs. Carter Show World Tour,2013–2014,132,"$1,735,606",[15][16],R&B / Pop,2
11,12,NaN,14[17],"$227,400,000","$295,301,479",Lady Gaga,The Monster Ball Tour *,2009–2011,203,"$1,118,227",[18],Pop / Dance,2
12,13,NaN,NaN,"$204,000,000","$251,856,802",Katy Perry,Prismatic World Tour,2014–2015,151,"$1,350,993",[19],Pop,2
13,14,1[20],NaN,"$200,000,000","$299,676,265",Cher,Living Proof: The Farewell Tour ‡[21][a],2002–2005,325,"$615,385",[20],Pop / Disco,2
14,15,2[c],NaN,"$194,000,000","$281,617,035",Madonna,Confessions Tour,2006,60,"$3,233,333",[5],Pop,0
15,16,NaN,NaN,"$184,000,000","$227,452,347",Pink,The Truth About Love Tour,2013–2014,142,"$1,295,775",[22],Pop Rock,2
16,17,NaN,NaN,"$170,000,000","$213,568,571",Lady Gaga,Born This Way Ball,2012–2013,98,"$1,734,694",[d],Pop / Dance,1
17,18,NaN,NaN,"$169,800,000","$207,046,755",Madonna,Rebel Heart Tour,2015–2016,82,"$2,070,732",[4],Pop,1
18,19,NaN,NaN,"$167,700,000[e]","$204,486,106",Adele,Adele Live 2016,2016–2017,121,"$1,385,950",[25],Soul / Pop,2
19,20,NaN,NaN,"$150,000,000","$185,423,109",Taylor Swift,The Red Tour,2013–2014,86,"$1,744,186",[26],Pop / Country,1

In [107]:
for col in df.columns:
    try: 
        df[col] = df[col].apply(lambda x: int(x.replace('$','')))
    except:
        continue 

df

,Rank,Peak,All Time Peak,Actualgross,Adjustedgross (in 2022 dollars),Artist,Tour title,Year(s),Shows,Average gross,Ref.,genre,new_codes
0,1,1,2,"$780,000,000","$780,000,000",Taylor Swift,The Eras Tour †,2023–2024,56,"$13,928,571",[1],Pop / Country,0
1,2,1,7[2],"$579,800,000","$579,800,000",Beyoncé,Renaissance World Tour,2023,56,"$10,353,571",[3],R&B / Pop,0
2,3,1[4],2[5],"$411,000,000","$560,622,615",Madonna,Sticky & Sweet Tour ‡[4][a],2008–2009,85,"$4,835,294",[6],Pop,1
3,4,2[7],10[7],"$397,300,000","$454,751,555",Pink,Beautiful Trauma World Tour,2018–2019,156,"$2,546,795",[7],Pop Rock,2
4,5,2[4],NaN,"$345,675,146","$402,844,849",Taylor Swift,Reputation Stadium Tour,2018,53,"$6,522,173",[8],Pop / Country,0
5,6,2[4],10[9],"$305,158,363","$388,978,496",Madonna,The MDNA Tour,2012,88,"$3,467,709",[9],Pop,1
6,7,2[10],NaN,"$280,000,000","$381,932,682",Celine Dion,Taking Chances World Tour,2008–2009,131,"$2,137,405",[11],Adult Contemporary,2
7,7,NaN,NaN,"$257,600,000","$257,600,000",Pink,Summer Carnival †,2023–2024,41,"$6,282,927",[12],Pop Rock,0
8,9,NaN,NaN,"$256,084,556","$312,258,401",Beyoncé,The Formation World Tour,2016,49,"$5,226,215",[13],R&B / Pop,0
9,10,NaN,NaN,"$250,400,000","$309,141,878",Taylor Swift,The 1989 World Tour,2015,85,"$2,945,882",[14],Pop / Country,1
10,11,NaN,NaN,"$229,100,000[b]","$283,202,896",Beyoncé,The Mrs. Carter Show World Tour,2013–2014,132,"$1,735,606",[15][16],R&B / Pop,2
11,12,NaN,14[17],"$227,400,000","$295,301,479",Lady Gaga,The Monster Ball Tour *,2009–2011,203,"$1,118,227",[18],Pop / Dance,2
12,13,NaN,NaN,"$204,000,000","$251,856,802",Katy Perry,Prismatic World Tour,2014–2015,151,"$1,350,993",[19],Pop,2
13,14,1[20],NaN,"$200,000,000","$299,676,265",Cher,Living Proof: The Farewell Tour ‡[21][a],2002–2005,325,"$615,385",[20],Pop / Disco,2
14,15,2[c],NaN,"$194,000,000","$281,617,035",Madonna,Confessions Tour,2006,60,"$3,233,333",[5],Pop,0
15,16,NaN,NaN,"$184,000,000","$227,452,347",Pink,The Truth About Love Tour,2013–2014,142,"$1,295,775",[22],Pop Rock,2
16,17,NaN,NaN,"$170,000,000","$213,568,571",Lady Gaga,Born This Way Ball,2012–2013,98,"$1,734,694",[d],Pop / Dance,1
17,18,NaN,NaN,"$169,800,000","$207,046,755",Madonna,Rebel Heart Tour,2015–2016,82,"$2,070,732",[4],Pop,1
18,19,NaN,NaN,"$167,700,000[e]","$204,486,106",Adele,Adele Live 2016,2016–2017,121,"$1,385,950",[25],Soul / Pop,2
19,20,NaN,NaN,"$150,000,000","$185,423,109",Taylor Swift,The Red Tour,2013–2014,86,"$1,744,186",[26],Pop / Country,1

# 8 Remove all other special characters from the data.

In [109]:
df['Tour title' ] = df['Tour title'].apply(lambda x: x.replace('†','')) 
df['Tour title' ] = df['Tour title'].apply(lambda x: x.replace('‡','')) 
df['Tour title' ] = df['Tour title'].apply(lambda x: x.replace('*',''))
df['Tour title' ] = df['Tour title'].apply(lambda x: x.replace('[21][a]',''))
df['Tour title' ] = df['Tour title'].apply(lambda x: x.replace('[4][a]',''))

In [111]:
titles = df['Tour title']
titles

0                       The Eras Tour
1               Renaissance World Tour
2                 Sticky & Sweet Tour
3          Beautiful Trauma World Tour
4              Reputation Stadium Tour
5                        The MDNA Tour
6            Taking Chances World Tour
7                     Summer Carnival
8             The Formation World Tour
9                  The 1989 World Tour
10     The Mrs. Carter Show World Tour
11              The Monster Ball Tour
12                Prismatic World Tour
13    Living Proof: The Farewell Tour
14                    Confessions Tour
15           The Truth About Love Tour
16                  Born This Way Ball
17                    Rebel Heart Tour
18                     Adele Live 2016
19                        The Red Tour
Name: Tour title, dtype: object

# 9 Separate the Year(s) column into two "Tour Start" and "Tour End"

In [113]:
#do it in function 
#new column called tour start and end
#use.split could try . apply lamnda, or for loop 
print(type(df['Year(s)']))

<class 'pandas.core.series.Series'>

In [2]:
empty_list = []
for item in df['Year(s)']:   
    #item.split('–')
    empty_list.append(item.split('–'))

start_dates = [] 
end_dates = []
for l in empty_list: 
    start_dates.append(l[0])
    if len(l) == 2: 
        end_dates.append(l[1])
    else: 
        end_dates.append(np.nan)

df['Year Start'] =start_dates
df['End Dates']= end_dates
df

NameError: name 'df' is not defined

In [117]:
df

,Rank,Peak,All Time Peak,Actualgross,Adjustedgross (in 2022 dollars),Artist,Tour title,Year(s),Shows,Average gross,Ref.,genre,new_codes,Year Start,End Dates
0,1,1,2,"$780,000,000","$780,000,000",Taylor Swift,The Eras Tour,2023–2024,56,"$13,928,571",[1],Pop / Country,0,2023,2024
1,2,1,7[2],"$579,800,000","$579,800,000",Beyoncé,Renaissance World Tour,2023,56,"$10,353,571",[3],R&B / Pop,0,2023,NaN
2,3,1[4],2[5],"$411,000,000","$560,622,615",Madonna,Sticky & Sweet Tour,2008–2009,85,"$4,835,294",[6],Pop,1,2008,2009
3,4,2[7],10[7],"$397,300,000","$454,751,555",Pink,Beautiful Trauma World Tour,2018–2019,156,"$2,546,795",[7],Pop Rock,2,2018,2019
4,5,2[4],NaN,"$345,675,146","$402,844,849",Taylor Swift,Reputation Stadium Tour,2018,53,"$6,522,173",[8],Pop / Country,0,2018,NaN
5,6,2[4],10[9],"$305,158,363","$388,978,496",Madonna,The MDNA Tour,2012,88,"$3,467,709",[9],Pop,1,2012,NaN
6,7,2[10],NaN,"$280,000,000","$381,932,682",Celine Dion,Taking Chances World Tour,2008–2009,131,"$2,137,405",[11],Adult Contemporary,2,2008,2009
7,7,NaN,NaN,"$257,600,000","$257,600,000",Pink,Summer Carnival,2023–2024,41,"$6,282,927",[12],Pop Rock,0,2023,2024
8,9,NaN,NaN,"$256,084,556","$312,258,401",Beyoncé,The Formation World Tour,2016,49,"$5,226,215",[13],R&B / Pop,0,2016,NaN
9,10,NaN,NaN,"$250,400,000","$309,141,878",Taylor Swift,The 1989 World Tour,2015,85,"$2,945,882",[14],Pop / Country,1,2015,NaN
10,11,NaN,NaN,"$229,100,000[b]","$283,202,896",Beyoncé,The Mrs. Carter Show World Tour,2013–2014,132,"$1,735,606",[15][16],R&B / Pop,2,2013,2014
11,12,NaN,14[17],"$227,400,000","$295,301,479",Lady Gaga,The Monster Ball Tour,2009–2011,203,"$1,118,227",[18],Pop / Dance,2,2009,2011
12,13,NaN,NaN,"$204,000,000","$251,856,802",Katy Perry,Prismatic World Tour,2014–2015,151,"$1,350,993",[19],Pop,2,2014,2015
13,14,1[20],NaN,"$200,000,000","$299,676,265",Cher,Living Proof: The Farewell Tour,2002–2005,325,"$615,385",[20],Pop / Disco,2,2002,2005
14,15,2[c],NaN,"$194,000,000","$281,617,035",Madonna,Confessions Tour,2006,60,"$3,233,333",[5],Pop,0,2006,NaN
15,16,NaN,NaN,"$184,000,000","$227,452,347",Pink,The Truth About Love Tour,2013–2014,142,"$1,295,775",[22],Pop Rock,2,2013,2014
16,17,NaN,NaN,"$170,000,000","$213,568,571",Lady Gaga,Born This Way Ball,2012–2013,98,"$1,734,694",[d],Pop / Dance,1,2012,2013
17,18,NaN,NaN,"$169,800,000","$207,046,755",Madonna,Rebel Heart Tour,2015–2016,82,"$2,070,732",[4],Pop,1,2015,2016
18,19,NaN,NaN,"$167,700,000[e]","$204,486,106",Adele,Adele Live 2016,2016–2017,121,"$1,385,950",[25],Soul / Pop,2,2016,2017
19,20,NaN,NaN,"$150,000,000","$185,423,109",Taylor Swift,The Red Tour,2013–2014,86,"$1,744,186",[26],Pop / Country,1,2013,2014

In [131]:
df.to_pickle('df.pkl')