---------------
## Data Wrangling - Day5 HW

## Homework 5

Using all three datasets below we would like to determine if the usage patterns for users differ between different devices. See if you can ask some questions of your own. Here are some examples:

1. Does the platform being used impact the number of monthly mb used? 
2. Do users using Samsung devices use more call minutes than those using LGE devices? 

Idea from: https://www.kaggle.com/code/vin1234/merge-join-and-concat-with-pandas
Author: Vinay Vikram

- Looking at the data what columns can be used for merging? Do you see any you might need/want to rename?
- Make sure to say what you are doing in the merge and why you are choosing the specific merge type.
- Explain in detail your approach to answering the question, there is more than one right answer!
    
------------------------------------

Your final notebooks should:

- [ ] Be a completely new notebook with just the Day5 stuff in it: Read in the data, merge it, answer a minimum of 3 questions. 
- [ ] Be reproducible with junk code removed.
- [ ] Have lots of language describing what you are doing, especially for questions you are asking or things that you find interesting about the data. Use complete sentences, nice headings, and good markdown formatting: https://www.markdownguide.org/cheat-sheet/
- [ ] It should run without errors from start to finish.

In [36]:
# Some basic package imports
import os
import numpy as np
import pandas as pd

import matplotlib.pyplot as plt
import plotly.express as px
from plotly.subplots import make_subplots
import plotly.io as pio
pio.renderers.defaule = 'colab'

In [44]:
user_usage=pd.read_csv('https://raw.githubusercontent.com/shanealynn/Pandas-Merge-Tutorial/master/user_usage.csv')
user_usage.head(10)

   outgoing_mins_per_month  outgoing_sms_per_month  monthly_mb  use_id
0                    21.97                    4.82     1557.33   22787
1                  1710.08                  136.88     7267.55   22788
2                  1710.08                  136.88     7267.55   22789
3                    94.46                   35.17      519.12   22790
4                    71.59                   79.26     1557.33   22792
5                    71.59                   79.26     1557.33   22793
6                    71.59                   79.26      519.12   22794
7                    71.59                   79.26      519.12   22795
8                    30.92                   22.77     3114.67   22799
9                    69.80                   14.70    25955.55   22801

In [12]:
user_device=pd.read_csv('https://raw.githubusercontent.com/shanealynn/Pandas-Merge-Tutorial/master/user_device.csv')
user_device.head(10)

   use_id  user_id platform  platform_version     device  use_type_id
0   22782    26980      ios              10.2  iPhone7,2            2
1   22783    29628  android               6.0    Nexus 5            3
2   22784    28473  android               5.1   SM-G903F            1
3   22785    15200      ios              10.2  iPhone7,2            3
4   22786    28239  android               6.0  ONE E1003            1
5   22787    12921  android               4.3   GT-I9505            1
6   22788    28714  android               6.0   SM-G930F            1
7   22789    28714  android               6.0   SM-G930F            1
8   22790    29592  android               5.1      D2303            1
9   22791    28775      ios              10.2  iPhone6,2            3

In [40]:
device=pd.read_csv('https://raw.githubusercontent.com/shanealynn/Pandas-Merge-Tutorial/master/android_devices.csv')
device.head(10)

,Retail Branding,Marketing Name,Device,Model
0,NaN,NaN,AD681H,Smartfren Andromax AD681H
1,NaN,NaN,FJL21,FJL21
2,NaN,NaN,T31,Panasonic T31
3,NaN,NaN,hws7721g,MediaPad 7 Youth 2
4,3Q,OC1020A,OC1020A,OC1020A
5,7Eleven,IN265,IN265,IN265
6,A.O.I. ELECTRONICS FACTORY,A.O.I.,TR10CS1_11,TR10CS1
7,AG Mobile,AG BOOST 2,BOOST2,E4010
8,AG Mobile,AG Flair,AG_Flair,Flair
9,AG Mobile,AG Go Tab Access 2,AG_Go_Tab_Access_2,AG_Go_Tab_Access_2

In [42]:
device = device.rename(columns={"Device": "device"})
device

      Retail Branding Marketing Name       device                      Model
0                 NaN            NaN       AD681H  Smartfren Andromax AD681H
1                 NaN            NaN        FJL21                      FJL21
2                 NaN            NaN          T31              Panasonic T31
3                 NaN            NaN     hws7721g         MediaPad 7 Youth 2
4                  3Q        OC1020A      OC1020A                    OC1020A
...               ...            ...          ...                        ...
14541           pendo    PNDPP44QC10  PNDPP44QC10                PNDPP44QC10
14542           pendo     PNDPP44QC7   PNDPP44QC7                 PNDPP44QC7
14543      sugar_aums         QPOINT        QPI-1                      QPI-1
14544       tecmobile       OmnisOne     OmnisOne                  Omnis One
14545           ucall          EASY1        EASY1                      EASY1

[14546 rows x 4 columns]

# Do users with iPhones use more data (MBs) per month compared to Android users?

In [46]:
#Using the inner command across the usage and device data in order to match the exact data points across both of the data frames. 
phone_merged = pd.merge(user_usage,user_device, on='use_id', how='inner')
display(phone_merged)

,outgoing_mins_per_month,outgoing_sms_per_month,monthly_mb,use_id,user_id,platform,platform_version,device,use_type_id
0,21.97,4.82,1557.33,22787,12921,android,4.3,GT-I9505,1
1,1710.08,136.88,7267.55,22788,28714,android,6.0,SM-G930F,1
2,1710.08,136.88,7267.55,22789,28714,android,6.0,SM-G930F,1
3,94.46,35.17,519.12,22790,29592,android,5.1,D2303,1
4,71.59,79.26,1557.33,22792,28217,android,5.1,SM-G361F,1
...,...,...,...,...,...,...,...,...,...
154,198.59,90.49,5191.12,23043,28953,android,6.0,SM-G900F,1
155,198.59,90.49,3114.67,23044,28953,android,6.0,SM-G900F,1
156,106.65,82.13,5191.12,23046,29454,android,6.0,Moto G (4),1
157,344.53,20.53,519.12,23049,29725,android,6.0,SM-G900F,1
158,42.75,46.83,5191.12,23053,20257,android,5.1,Vodafone Smart ultra 6,1

In [69]:
#After this I decided to group the data by patform and find the average of the monthly megabytes
# By doing this I was able to find the average between andriod and IOS users. 
average_for_data = phone_merged.groupby('platform')['monthly_mb'].mean()
average_for_data.reset_index()

  platform   monthly_mb
0  android  4221.387834
1      ios   961.155000

Based on this analysis and we are able to conclude that Android users are more apparent in the data set compared to iphone users.

# What are the top 5 most popular device models among heavy data users?
I decided to find the top 5 most popular devices among heavy data users by again using the .inner command. This command is essential to these experiments because we are specifically looking at android users rather than iphone. After using the .inner command on the merged data set, we are then again merging the devices to our already merged data set. We than take these two data sets that are merged and drop the duplicates of them. Aftering dropping the duplicates, we count the values and reset the index to the top 5 entries in this data. The results show us that the top 5 most popular devices among users are the F3111, X11, C6603, D2303, and E6653 which are all models of adriod phones

In [85]:
#Because I want to specifically look at the cases of android users rather than iphones I use the inner command. 
#This is to strictly look at the cases where thet match in order to find which device model they match with. 
new_merged = pd.merge(user_usage,user_device, on='use_id', how='inner')
new_merged

,outgoing_mins_per_month,outgoing_sms_per_month,monthly_mb,use_id,user_id,platform,platform_version,device,use_type_id
0,21.97,4.82,1557.33,22787,12921,android,4.3,GT-I9505,1
1,1710.08,136.88,7267.55,22788,28714,android,6.0,SM-G930F,1
2,1710.08,136.88,7267.55,22789,28714,android,6.0,SM-G930F,1
3,94.46,35.17,519.12,22790,29592,android,5.1,D2303,1
4,71.59,79.26,1557.33,22792,28217,android,5.1,SM-G361F,1
...,...,...,...,...,...,...,...,...,...
154,198.59,90.49,5191.12,23043,28953,android,6.0,SM-G900F,1
155,198.59,90.49,3114.67,23044,28953,android,6.0,SM-G900F,1
156,106.65,82.13,5191.12,23046,29454,android,6.0,Moto G (4),1
157,344.53,20.53,519.12,23049,29725,android,6.0,SM-G900F,1
158,42.75,46.83,5191.12,23053,20257,android,5.1,Vodafone Smart ultra 6,1

In [53]:
#Dropping the duplicates in order to eliminate the 'fluff' in the data set. 
#This is again so we can see the strict cases of both. 
device_merged = pd.merge(phone_merged, device, on = 'device', how = 'inner')
device_merged.dropna().drop_duplicates()

,outgoing_mins_per_month,outgoing_sms_per_month,monthly_mb,use_id,user_id,platform,platform_version,device,use_type_id,Retail Branding,Marketing Name,Model
0,94.46,35.17,519.12,22790,29592,android,5.1,D2303,1,Sony,Xperia M2,D2303
1,283.30,107.47,15573.33,22806,21615,android,6.0,A0001,1,OnePlus,OnePlus One,A0001
2,283.30,107.47,15573.33,22806,21615,android,6.0,A0001,1,OnePlus,OnePlus One,One
3,244.88,105.95,1557.33,22832,29295,android,6.0,D5803,1,Sony,Xperia Z3 Compact,D5803
4,135.09,42.02,5191.12,22833,24847,android,6.0,E6653,1,Sony,Xperia Z5,E6653
5,57.49,16.73,15573.33,22839,29655,android,6.0,A0001,1,OnePlus,OnePlus One,A0001
6,57.49,16.73,15573.33,22839,29655,android,6.0,A0001,1,OnePlus,OnePlus One,One
7,99.23,35.58,519.12,22854,29592,android,5.1,D2303,1,Sony,Xperia M2,D2303
8,43.03,0.47,2076.45,22882,29666,android,6.0,F3111,1,Sony,Xperia XA,F3111
9,43.03,0.47,2076.45,22883,29666,android,6.0,F3111,1,Sony,Xperia XA,F3111
10,43.03,0.47,2076.45,22884,29666,android,6.0,F3111,1,Sony,Xperia XA,F3111
11,362.01,14.19,7267.55,22920,18833,android,6.0,D6603,1,Sony,Xperia Z3,D6603
12,362.01,14.19,7267.55,22921,18833,android,6.0,D6603,1,Sony,Xperia Z3,D6603
13,146.45,48.67,1557.33,22979,16673,android,5.1,D5503,1,Sony,Xperia Z1 Compact,D5503
14,61.22,262.47,12458.67,22981,18108,android,4.4,X11,1,Lava,X11,X11
15,146.45,48.67,1557.33,22986,16673,android,5.1,D5503,1,Sony,Xperia Z1 Compact,D5503
16,55.96,0.25,2076.45,23017,29666,android,6.0,F3111,1,Sony,Xperia XA,F3111
17,60.08,261.33,12458.67,23027,18108,android,4.4,X11,1,Lava,X11,X11
18,92.52,162.39,1557.33,23028,29716,android,5.1,C6603,1,Sony,Xperia Z,C6603

In [87]:
#Resetting the index is used to create the data frame with the top 5 values that 
five_devices = (
    device_merged.drop_duplicates(['platform','device'])).value_counts().reset_index(name = 'count').head(5)
five_devices

,outgoing_mins_per_month,outgoing_sms_per_month,monthly_mb,use_id,user_id,platform,platform_version,device,use_type_id,Retail Branding,Marketing Name,Model,count
0,43.03,0.47,2076.45,22882,29666,android,6.0,F3111,1,Sony,Xperia XA,F3111,1
1,61.22,262.47,12458.67,22981,18108,android,4.4,X11,1,Lava,X11,X11,1
2,92.52,162.39,1557.33,23028,29716,android,5.1,C6603,1,Sony,Xperia Z,C6603,1
3,94.46,35.17,519.12,22790,29592,android,5.1,D2303,1,Sony,Xperia M2,D2303,1
4,135.09,42.02,5191.12,22833,24847,android,6.0,E6653,1,Sony,Xperia Z5,E6653,1

In [99]:
five_devices.columns

Index(['outgoing_mins_per_month', 'outgoing_sms_per_month', 'monthly_mb',
       'use_id', 'user_id', 'platform', 'platform_version', 'device',
       'use_type_id', 'Retail Branding', 'Marketing Name', 'Model', 'count'],
      dtype='object')

In [138]:
new_table = five_devices[['Model','platform','monthly_mb','outgoing_mins_per_month','outgoing_sms_per_month','Retail Branding']]
next_table = new_table.sort_values('monthly_mb', ascending=False)
next_table

,Model,platform,monthly_mb,outgoing_mins_per_month,outgoing_sms_per_month,Retail Branding
1,X11,android,12458.67,61.22,262.47,Lava
4,E6653,android,5191.12,135.09,42.02,Sony
0,F3111,android,2076.45,43.03,0.47,Sony
2,C6603,android,1557.33,92.52,162.39,Sony
3,D2303,android,519.12,94.46,35.17,Sony

Among heavy data users we can see that the most commonly used device models on the android platform are F3111, X11, C6603, D2303, and the E6653. It is observed that the device with the most megabytes used monthly is the X11 model. This is interesting as this is the oldest model of android that is provided on this list, created in 1980. The use of so much data could be that older individuals do not wish to convert to newer models due to learning curves and prefer simplicty. All of the other models of androids that are provided on this list were created after the 21st century. The retail branding could also play a role for such heavy usage of the phones. Due to Lava branding being significantly cheaper than Sony's making the phone more easily accesible among its users. This also opens up the opportunity for multiple people to own one due to its lower price tag.